nav {
    width: var(--mobile-width);
    display: flex;
    justify-content: space-around;
    background-color: var(--light);

    /* position: fixed; */
    bottom: 0;

    border-top: 1px solid var(--light-grey);
}

#activeItem {
    color: var(--primary);
}

.navbarItem {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1rem 0;

    color: var(--dark);
    text-decoration: none;
    font-size: 10pt;

    transition: ease-in-out 200ms;
}

.navbarItem:active {
    color: var(--primary);
}

.navbarItem > i {
    font-size: 20pt;
    margin-bottom: 0.5rem;
}