/* Design variables */
:root {
  --mobile-width: 390px;
  --mobile-height: 844px;
  --bottom-nav-height: 64px;

  --light: #fdfdfd;
  --light-grey: #e6e6e6;
  --dark: #151515;
  --dark-grey: #606060;
  --warning-good: #28b57d;
  --warning-caution: #f6b430;
  --warning-bad: #ca3925;

  --normal-bg: linear-gradient(#71f5cd, #37cbdf);
  --low-risk-bg: linear-gradient(#f6d86e, #edb13c);
  --high-risk-bg: linear-gradient(#e65c53, #f7a366);

  --primary: #f54932;

  --weather-card-width: 160px;
  --weather-severity-hori: linear-gradient(270deg, #70ff00 0%, #f00 100%);
}

/* Reset css styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General body styles */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #303030;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hiddenScroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
/* Homepage styles */
#scrollContainer{
  background: linear-gradient(to bottom, #de564c, #ff8c39); /* Orange gradient background */
  height: calc(var(--mobile-height) - var(--bottom-nav-height) - 12px);
  overflow: auto;
}

#homeContainer {
  background: transparent;
  color: #fff; /* White text */
  text-align: center;
  padding: 0%;
  width: var(--mobile-width); /* Set the width to match the mobile width variable */
  max-width: 100%; /* Ensure it does not exceed the viewport width */
  margin: 0 auto; /* Center it horizontally */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#temperatureValue {
  font-size: 3em; /* Larger text size */
  font-weight: bold; /* Bold text for temperature */
  display: inline-block; /* Make the temperature value inline-block to center it */
  margin: 0 auto; /* Center the temperature value */
}

#tempValue::after {
  content: "°C"; /* Add °C after the temperature value */
}

#fluctuationOverlay{
  z-index: 1;
}

#tempDirectionIcon {
  /* Adjust the size and color as needed */
  font-size: 3em;
  color: #fff;
  margin-right: 0.5em;
}

#temperatureChart {
  width: 100%; /* Use 100% of the parent's width */
  max-width: var(--mobile-width); /* Ensure it does not exceed the mobile width */
  height: auto; /* Adjust height automatically */
  margin: 0 auto; /* Center it horizontally */
  background: transparent; /* Apply the orange gradient background */
  z-index: 10; /* Ensure it is above other content but below fixed elements like navbar */
}

/* Style for the connect button specifically */
#connectButton {
  width: 15%;
  max-width: 300px;
  display: block;
  background-color: var(--warning-caution); /* Use the caution color for the button */
  color: var(--light);
  font-style: oblique;
  font-size: 1em;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  margin: 20px auto;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.1s, color 0.3s;
  outline: none;
  box-shadow: 0 6px var(--warning-bad); /* Use the bad color for the shadow */
  border-radius: 50px; /* Rounded button */
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight color on mobile */
}

#connectButton:active {
  background-color: #e65c53; /* darker shade of the caution color */
  box-shadow: 0 3px var(--warning-bad);
  transform: translateY(4px) scale(0.98); /* Subtle "click" effect with scale down */
  color: #ddd; /* Lighten the text color to indicate the button is pressed */
  transition: transform 0.1s, box-shadow 0.1s; /* Quicker transition for tactile feedback */
}

/* Style for mobile screen container */
#mobileScreenContainer {
  position: relative;
  width: var(--mobile-width);
  height: var(--mobile-height);
  overflow: hidden;
  background-color: #fff;
}

/* chatbot styles */
/* Style for chatbox */
#chatbox {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

/* Style for messages container */
#messages {
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding: 10px;
}

/* Style for input area */
#inputArea {
  display: flex;
  padding: 10px;
  background-color: #fff;
}

/* Style for input text box */
input#userInput {
  flex: 1;
  padding: 10px;
}

/* Style for send button */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Style for date picker container */
#datePickerContainer {
  text-align: center;
  margin: 10px;
}

/* Style for bot messages */
.bot {
  display: flex;
  align-items: center;
  max-width: 70%;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  flex-direction: row;
  margin-right: auto;
  background-color: #f1f1f1;
}

/* Style for user messages */
.user {
  display: flex;
  align-items: center;
  max-width: 70%;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  flex-direction: row-reverse;
  margin-left: auto;
  background-color: #e6f7ff;
}

/* Add icons to bot and user messages */
.bot::before {
  content: "\f544";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
}

.user::after {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 5px;
}

/* Weather part */
#weatherContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-top: 36px;

  background-image: none;
  background-repeat: no-repeat;

  max-height: 600px;
  overflow-y: scroll;

  transition: all 0.5s ease;
}

#weatherDateContainer {
  position: sticky;
  top: 0;

  background-color: var(--dark-grey);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  padding: 12px;
  z-index: 9999;
}

.weatherDateButton {
  position: absolute;
  color: white;
}

.weatherDateButton.disabled {
  opacity: 0.3;
}

#weatherHourlyContainer {
  scroll-behavior: smooth;

  position: relative;
  min-height: 155px;
  width: 95%;
  margin: auto;

  overflow-x: auto;
}

#weatherHourlyInner {
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.weatherHourlyPills {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100vh;
  color: white;

  opacity: 0.65;
  transition: opacity 0.2s ease;
}

.weatherHourlyPills.safe {
  background-color: var(--warning-good);
}

.weatherHourlyPills.caution {
  background-color: var(--warning-caution);
}

.weatherHourlyPills.danger {
  background-color: var(--warning-bad);
}

.weatherHourlyPills.selected {
  opacity: 1;
}

.weatherHourlyPillInner {
  width: 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  padding: 24px 8px;
}

.weatherHourlyPillCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.weatherHourlyRain {
  font-size: 12px;
}

#weatherHeatIndexContainer {
  background-color: var(--warning-good);
}

#weatherHeatIndexContainer[riskLevel="caution"] {
  background-color: var(--warning-caution);
}

#weatherHeatIndexContainer[riskLevel="danger"] {
  background-color: var(--warning-bad);
}

#weatherHeatIndexInner {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 16px 36px;

  color: white;
}

#heatIndexBottom > p {
  display: inline;
  padding-right: 4px;

  font-size: 32px;
  font-weight: 500;
}

#heatIndexBottom > span {
  display: inline;
  opacity: 0.75;
}

#weatherCardsContainer {
  width: 90%;
  margin: 0 auto 32px;

  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 16px;
}

.weatherCardContainer {
  width: var(--weather-card-width);
  height: var(--weather-card-width);
  border-radius: 16px;

  margin: auto;
}

.weatherCardContainer[cardRisk="safe"] {
  background: var(--warning-good);
}

.weatherCardContainer[cardRisk="caution"] {
  background: var(--warning-caution);
}

.weatherCardContainer[cardRisk="danger"] {
  background: var(--warning-bad);
}

.weatherCardInner {
  display: flex;
  flex-direction: column;

  padding: 12px;
  color: white;
}

.weatherCardTop {
  display: flex;
  align-items: center;
  gap: 4px;
}

.weather-card-icon {
  width: 24px;
}

.weatherCardTitle {
  text-transform: uppercase;

  font-size: 14px;
  padding-bottom: 4px;
}

.weatherCardBottom {
  padding-top: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 12px;
}

.weatherCardBottom > h1 {
  font-size: 36px;
}

.weatherCardBottom > h2 {
  font-size: 28px;
}

.weatherCardBottom > h3 {
  font-size: 20px;
}

.weatherCardBottom > h4 {
  font-size: 16px;
}

.weatherCardBottom > p {
  font-size: 10px;
  color: var(--light-grey);

  line-height: 0.75rem;
}

/* Styles for the temperature chart canvas */
#temperatureChart {
  width: var(
    --mobile-width
  ); /* Set the width to match the mobile width variable */
  height: 150px; /* Set a fixed height for the chart */
  background-color: transparent; /* Ensure the background is transparent */
}

/* Media query for devices with a width of 390px (iPhone 12 Pro portrait mode) */
@media only screen and (max-width: 390px) {
  #temperatureChart {
    width: 100%; /* Make the chart width responsive */
    height: 150px; /* Maintain a fixed height for consistency */
  }
}
